<div>
    <div>
        <h1>{{ listEvents.m_strToday | date : 'fullDate'}}  </h1>
        <ul>
            <li ng-repeat="l_oAnEvent in listEvents.m_aryEvents | orderBy: 'time'">

                <div>
                    <div>
                        <div>
                            {{l_oAnEvent.time | date:'H:mm' }}
                        </div>
                        <div>
                            {{ l_oAnEvent.name | uppercase}}
                        </div>
                        <div>
                            <a href="#edit/{{l_oAnEvent['_id']}}" type="button">Edit</a>
                        </div>
                    </div>

                </div>

            </li>
        </ul>
    </div>
    <div>
        <div>
            <div>
                <button ng-click="listEvents.gotoListForPreviousDay()">Previous Day</button>
            </div>
            <div>
                <button ng-click="listEvents.gotoListForNextDay()">Next Day</button>
            </div>
        </div>
    </div>
    <div>
        <div>

            <a href="#create">Add</a>

        </div>
    </div>
</div>
